<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white" style="background:#14223C">
    <div class="container"><small>Copyright &copy; Webapp 2025</small></div>
</div>
<style>
.copyright {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #14223C;
    padding: 10px 0;
}
</style>