{% extends 'base.html.twig' %}

{% block title %}Partager la Wishlist{% endblock %}

{% block body %}
  <div class="mycontainer">
    <!-- Partie gauche : Affichage de l'image -->
    <div class="left">
      <img src="{{ asset('images/new_wishlist.jpg') }}" alt="Illustration partage">
    </div>
    <div class="right">
      <h1>Partagez cette wishlist à vos proches</h1>
      <p>Sélectionnez les utilisateurs à inviter :</p>

      {{ form_start(form) }}
      <div class="form-group">
        {{ form_widget(form.user_ids, {'attr': {'class': 'form-control text-dark bg-white', 'style': 'color: #000; background-color: #fff;'}}) }}
      </div>
      <button type="submit" class="btn btn-primary mt-3">Partager</button>
      {{ form_end(form) }}
    </div>
  </div>

  <style>
    .right label {
      color: #14223C;
    }
  </style>
{% endblock %}